@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:300,400,600,700,800');

@import './colors';

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

p, input, textarea {
  font-size: 14px;
}

.noscroll {
  overflow: hidden;
}